@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
}

.uni-search img {
    position: absolute;
    left: 245px;
    top: -3px;
}

.uni-search button {
    border: none;
    background-color: white;
}

input:focus {
    outline: none;
}

nav {
    background-image: url(..//imges/no-text-1_97d351ba-97e8-4fab-9db4-7261cf2e93ed_1920x\ \(1\).webp);
}

p {
    font-size: 13px;
}

.qoute {
    background-color: #F7F6F2;
}

.card-1 span {
    font-size: 12px;
}

.footer {
    background-color: #E3E0D3;
}

.subs-btn button {
    left: 220px;
    top: -40px;
    border-radius: 0px 60px 60px 0px;
    font-size: 16px;
}

.subs-btn input {
    border-radius: 60px;
    height: 40px;
}

footer {
    background-color: #E3E0D3;
}

footer span p {
    font-size: 12px;
}

@media (max-width:576px) {
    header input {
        height: 30px;
    }

    .dropdown {
        margin-left: 25px;
    }

    .qoute {
        background-color: #F7F6F2;
        width: 100%;
        height: 150px;
    }

    .card-1 {
        margin-bottom: 25px;
    }

    .footer {
        background-color: #E3E0D3;
        height: 1000px;
    }
}